.form {
    fieldset {
        box-shadow: var(--neu-primary-inset);
        border-radius: 0.8em;
        border: none;
        margin: 0.35em;
        padding: 0.75em;
        legend {
            margin-left: 2em;
            background-color: var(--primary);
            padding: 0.5em;
            //TODO add shadow
        }
    }
    input {
        &[type='text'],
        &[type='email'],
        &[type='tel'],
        &[type='url'],
        &[type='number'],
        &[type='search'],
        &[type='date'],
        &[type='time'],
        &[type='password'],
        &[type='datetime-local'],
        &[type='week'],
        &[type='month'],
        &[type='color'] {
            margin-inline: 0.5em;
            padding-inline: 0.5em;
            box-shadow: var(--neu-primary-inset);
            background: none;
            border-radius: 0.4em;
            border: none;
            outline: none;
            color: var(--text);
            &:focus {
                border: 0.1em solid var(--accent);
            }
            &::placeholder {
                color: var(--text-dark);
            }
        }
        // &[type='number']::-webkit-inner-spin-button,
        // &[type='number']::-webkit-outer-spin-button {
        //     appearance: none;
        //     margin: 0;
        // }
    }
    button[type='submit'],
    input[type='submit'],
    input[type='reset'],
    input[type='button'] {
        border: none;
        border-radius: 0.5em;
        color: var(--text);
        padding: 0.5em;
        margin: 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: var(--primary);
        box-shadow: var(--neu);
        font-size: 0.9em;
        cursor: pointer;
        border: none;

        &:hover {
            box-shadow: var(--neu-primary-inset);
        }

        &:disabled {
            box-shadow: var(--neu-primary-inset);
            cursor: not-allowed;

            &:hover {
                color: var(--text);
            }
        }
    }
    input[type='range'] {
        margin-inline: 0.5em;
        border-radius: 0.4em;
        outline: none;
        background: transparent;
        box-shadow: var(--neu-primary-inset);
        appearance: none;
        border: none;

        &::-webkit-slider-thumb {
            appearance: none;
            width: 1em;
            height: 1em;
            border-radius: 1em;
            background: var(--accent);
            cursor: pointer;
        }
        &::-moz-range-thumb,
        &::-ms-thumb {
            width: 1em;
            height: 1em;
            border-radius: 1em;
            background: var(--accent);
            cursor: pointer;
        }
        &::-moz-range-progress {
            background: var(--accent);
        }
    }
    textarea {
        margin-inline: 0.5em;
        padding-inline: 0.5em;
        box-shadow: var(--neu-primary-inset);
        background: none;
        border-radius: 0.4em;
        outline: none;
        color: var(--text);
        max-width: 100%;
        border: none;
    }
    select {
        margin-inline: 0.5em;
        padding-inline: 0.5em;
        box-shadow: var(--neu-primary-inset);
        color: var(--text);
        background: none;
        border-radius: 0.4em;
        outline: none;
        border: none;

        option,
        optgroup {
            background-color: var(--primary);
        }
    }
    input[type='file']::-webkit-file-upload-button {
        border: none;
        border-radius: 0.5em;
        color: var(--text);
        padding: 0.5em;
        margin: 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: var(--primary);
        box-shadow: var(--neu);
        font-size: 0.9em;
        border: none;
        cursor: pointer;
    }
    input[type='checkbox'],
    input[type='radio'] {
        appearance: none;
        background-color: var(--primary);
        margin: 0.25em 0.5em;
        font: inherit;
        width: 1.15em;
        height: 1.15em;
        box-shadow: var(--neu-primary-inset);
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &::before {
            content: '';
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--accent);
            transform-origin: bottom left;
            border-radius: 100%;
        }
        &:checked::before {
            transform: scale(1);
        }
        &:focus {
            outline: 0.1em solid var(--accent);
            outline-offset: 0.1em;
        }
        &:disabled::before {
            box-shadow: inset 1em 1em var(--primary-light);
        }
    }
    input[type='checkbox']::before {
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
    input[type='radio'] {
        border-radius: 100%;
    }
    :disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
