/* width */
::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0.6em;
    background: var(--primary-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    background: var(--text-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text-dark);
}
